.up{
    margin-top: 40px;
}

.txt1{
    color: red;
}

.txt2{
    color: white;
}

.btnn2{
    margin-top: 20px;
    color: white;
    
    
    
}
.msg{
    border-radius: 5px;
    margin-top: 0px;
}